@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css';
@import 'swiper/css/autoplay';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@import 'antd/dist/reset.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* LoadingPage.css */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.robot-spin {
  width: 150px; /* Adjust to the size of your image */
  height: 150px;
  animation: bounceRobot 1s ease-in-out infinite;
}

@keyframes bounceRobot {
  0%, 100% {
    transform: translateY(0); /* Starts at normal position */
  }
  50% {
    transform: translateY(-50px); /* Moves up by 120px */
  }
}

/* Custom scrollbar for modern look */
::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(79, 70, 229); /* Your specified color */
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 48, 163); /* Darker shade on hover */
}


.chat {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.chat-avatar {
  margin-right: 8px;
}

.size-10 {
  width: 40px;
  height: 40px;
}

.rounded-full {
  border-radius: 9999px;
}

.chat-bubble {
  background-color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 70%;
}

/* Styling for bot (ChatGPT) messages */
.chat-receiver .chat-bubble {
  background-color: #e0e7ff;
}

/* Styling for user messages (you can adjust as needed) */
.chat-sender {
  flex-direction: row-reverse;
}

.chat-sender .chat-bubble {
  background-color: #c7d2fe;
}
